.bundle
config/database.yml
config/initializers/secret_token.rb
config/initializers/devise.rb
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
20110805/
public/famfamfam_flag_icons
Gemfile.lock
Gemfile.local
app/assets/stylesheets/bootstrap.css
node_modules
public/assets/
vendor/assets/images/
*.swp
app/assets/images/famfamfam_flag_icons/
