# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
Mirrorpinky::Application.config.secret_token = '88d94a6eba4a21c34a31f1aefb3ab1752a03497cfae92a159d1bc7d01fb7ec9ae32dacb54aabc6a489355f853eb71b5acca1c948f83a5f5ab49b432a6b18be32'
Mirrorpinky::Application.config.secret_key_base = '88d94a6eba4a21c34a31f1aefb3ab1752a03497cfae92a159d1bc7d01fb7ec9ae32dacb54aabc6a489355f853eb71b5acca1c948f83a5f5ab49b432a6b18be32'