<h1>Listing groups</h1>
<ul>
<% @groups.each do |group| %>
  <li><%= link_to group.name, admin_group_path(group) %></li>
<% end %>
</ul>
<p>
<% if current_user.is_admin? %>
  <%= link_to "Create new group", new_admin_group_path %>
<% else %>
  <%= link_to "Request new group", new_admin_group_request_path %>
<% end %>
</p>